/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */
body {
  font-size: 15px
}
h1 {
  font-family: Baskerville, ‘Times New Roman’, Times, serif;
}
h2 {
  font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
}
header {
  border-bottom: 5px dashed maroon
}
